<div class="bs-example"> 
    <div id="myTooltips">
        <a href="#" data-toggle="tooltip" title="Edit Document"><i class="fa fa-edit"></i></a>
        <a href="#" data-toggle="tooltip" title="Save Document"><i class="fa fa-save"></i></a>
        <a href="#" data-toggle="tooltip" title="Download Document"><i class="fa fa-download"></i></a>
        <a href="#" data-toggle="tooltip" title="Print Document"><i class="fa fa-print"></i></a>
        <a href="#" data-toggle="tooltip" title="Delete Document"><i class="fa fa-trash"></i></a>
        <a href="#" data-toggle="tooltip" title="Settings"><i class="fa fa-cog"></i></a>
    </div>
    <br>
    <p><strong>Note:</strong> Remove the title attribute form any link and place the mouse pointer over it to see the result.</p>  
</div>