<header>

    <!-- STUB navbar opened -->
    <div class="bg-blue collapse" 
        id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <p class="text-light">
                        This is an open source Node + Express application to track a daily activity of your choice, such as coding, exercising, reading, or anything you like, inspired by the GitHub contribution graph and powered by Google Sheets. 
                        <br>
                        <br>
                        Created by Anne-Laure Le Cunff. 
                        <br>
                        Modified by Rodrigo Marron.
                    </p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.linkedin.com/in/rodrigo-marron/" 
                                class="text-white">
                                LinkedIn
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/rodmarrec" 
                                class="text-white">
                                GitHub
                            </a>
                        </li>
                        <li>
                            <a href="#" 
                                class="text-white">
                                Website
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- STUB navbar closed -->
    <div class="navbar navbar-dark bg-blue shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="/" 
                class="navbar-brand d-flex align-items-center title">
            <strong>
                Code Keeper
            </strong>
            </a>
            <button class="navbar-toggler collapsed" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarHeader" 
                aria-controls="navbarHeader" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            </span>
            </button>
        </div>
    </div>

</header>