<!DOCTYPE html>
<html lang="en">
<head>
    <!-- STUB head -->
    <%- include ("./0-partials/head-links.ejs") -%>

    <title>RM_Post GA</title>
</head>

<body>
    <!-- STUB overall grid -->
    <div class="graph">

        <!-- STUB months -->
        <ul class="months">
            <li>Nov-'20</li>
            <li>Dec-'20</li>
            <li>Jan-'21</li>
            <li>Feb-'21</li>
            <li>Mar-'21</li>
            <li>Apr-'21</li>
            <li>May-'21</li>
            <li>Jun-'21</li>
            <li>Jul-'21</li>
            <li>Aug-'21</li>
            <li>Sep-'21</li>
            <li>Oct-'21</li>
            <li>Nov-'21</li>
        </ul>

        <!-- STUB days -->
        <ul class="days">
            <li>Sun</li>
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
            <li>Sat</li>
        </ul>

        <!-- STUB squares -->
        <ul class="squares">
            <% for (let i = 0; i < 364; i++) { %>
                <li data-level="<%= data[3][i] %>">
                </li>
            <% } %>
        </ul>
    </div>


</body>
</html>