<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Document</title>
</head>


<body>
    <!-- STUB all data -->
    <div>
        <%= data %>
    </div>

    <!-- STUB overall grid -->
    <div class="grid">
        <ul class="months"></ul>
        <ul class="days"></ul>
        <ul class="squares"></ul>
    </div>


</body>
</html>