<!DOCTYPE html>
<html lang="en">
<head>
    <!-- STUB head-links -->
    <%- include ("./0-partials/head-links.ejs") -%>

    <!-- STUB bootstrap tooltips -->
    <%- include ("./0-partials/bs-tooltips.ejs") -%>

    <title>Code Tracker</title>\

</head>

<body>
    
    <!-- STUB navbar -->
    <%- include ("./0-partials/navbar.ejs") -%>

    <!-- STUB main -->
    <main class="main">

        <!-- STUB graph -->
        <%- include ("./0-partials/graph.ejs") -%>

    </main>



</body>
</html>